nav {
    padding-bottom: 1.5em;
}

nav ul {
    padding: 0;
    margin: 0;
    height: 1.5em;
    line-height: 2em;
}

nav li {
    display: inline;
}

nav li:first-child a:link { padding-left: 0; }

footer.main {
    border-top: solid gray 1px;
    font-size: 0.666666667em;
}

footer.main ul {
    list-style: outside none;
    padding-left: 0;
}


footer.main ul li {
    display: inline;
    padding-right: 1px;
    margin: 0;
}

footer.main ul li:after {
    content: "·";
    padding-left: 6px;
}

nav li a.rss {
    background: url('/css/feed.png') no-repeat 0 0.45em;
    padding-left: 18px;
    margin-left: 1em;
}

header.main a.home:before {
    float:left;
    display:block;
    background: url('css/timebomb-x.png') no-repeat;
    background-size: 100px;
    width: 120px;
    height: 120px;
    content: ' ';
    background-position: top left;
}

header.main a.home {
    text-decoration: none;
    color: #700;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-size: 1.4888888888888888em;
    line-height: 1.85em;
    margin-top: 1.08em;
    margin-bottom: 0em;
}

article header p { margin-bottom: 0; }
article header ul { height: 2.25em; padding: 0; margin: 0 0 2.25em 0;}
article header li {
    display: inline;
    text-transform: none;
    letter-spacing: 0;
    padding: 0 1em 0 0;
    margin: 0;
}
article header li a {
    text-decoration: none;
    background: #eee;
    border-radius: 3px;
}
